Skip to content
Search or jump to…
Pull requests
Issues
Codespaces
Marketplace
Explore
 
@chient369 
chient369
/
my-sns
Private
Cannot fork because you own this repository and are not a member of any organizations.
Code
Issues
Pull requests
Actions
Projects
Security
Insights
Settings
Beta Try the new code view
my-sns/mySns/.gitignore
@chient369
chient369 first commit-add mysns source
Latest commit 1fc4bbd 2 weeks ago
 History
 1 contributor
33 lines (29 sloc)  395 Bytes

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
Footer
© 2023 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
my-sns/.gitignore at master · chient369/my-sns